@use "../../styles//partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload{
    @include page-padding;
    width: 100%;
    display: grid;
    gap: $mobile-column-gutter;
    grid-template-columns: repeat(6, 1fr);
    @include tablet {
      grid-template-columns: repeat(12, 1fr);
      gap: $tablet-desktop-gutter;
    }

    // &__image-box{
    //     background-color: $lavender;
    //     border-radius: $border-radius;
    //     border: 3px dashed rgba($obsidian, 0.5);
    //     height: 25vh;
    //     justify-content: center;
    //     display: flex;
    //     align-items: center;
    // }
    
    &__icon{
        width: auto;
        height: 3rem;
    }

    &__form{
        grid-column: span 6;
    }
    
    &__button{
        grid-column: span 6;
    }
}