@use "../../styles//partials/variables" as *;
@use "../../styles//partials/mixins" as *;

.all-outfits{
    @include page-padding;
    display: grid;
    gap: $mobile-column-gutter;
    grid-template-columns: repeat(6, 1fr);
    @include tablet{
        grid-template-columns: repeat(12, 1fr);
    }

    &__title{
        grid-column: span 6;

    }

    &__image-card{
        grid-column: span 3;
        border-radius: $border-radius;
        &:hover{
            border: 3px solid $lavender;
        }
    }

    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}