@use "../../styles//partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.edit-detials {
  @include page-padding;
  display: grid;
  gap: $mobile-column-gutter;
  grid-template-columns: repeat(6, 1fr);
  @include tablet {
    grid-template-columns: repeat(12, 1fr);
    gap: $tablet-desktop-gutter;
  }
  @include desktop {
    margin: auto;
    max-width: 80rem;
  }

  &__title {
    grid-column: span 6;
  }

  &__image-card {
    grid-column: span 6;
    border-radius: $border-radius;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius;
  }

  &__form {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    gap: $mobile-column-gutter;
    @include tablet{
        gap: $tablet-desktop-gutter;
    }
  }
}
